//-flines
$color-nobel: #999999;
$color-lighter-silver: #d1d1d1;
//-text
$color-night-gray: #333333;
$color-gray: #777777;
$color-silver: #c0c0c0;
$color-blue-gray: #707c80;
$color-dark-gray-blue: #6f7c81;
$color-dark-grayish-blue: #778b96;
$color-white: #ffffff;
$color-light-blue: #a7c4d3;
$color-space-silver: #bababa;
$color-red-pink: #dbb3b8;
$color-pencil-gray: #555555;
$color-black: #000000;
$color-red-flamingo: #F15A24;
$color-matterhorn: #545353;
$color-white-smoke: #EFEFEF;
$color-dimond-red: #DA3030;

//-backgrounds
$color-red-dark: #b10b1f; //-milenio
$color-red-claro: #DA3030;
$color-yellow: #fcee21;
$color-light-cyan: #e3f1f1;
$color-grayish-cyan: #a5c7c7;
$color-light-grayish-cyan: #e1f1f1;
$color-grayish-blue: #9cb0bb;
$color-space-grayish-green: #dfe6da;
$color-gray-white: #ebebeb;
$color-blue: #0071bc;
$color-space-gray: #444444;
$color-light-cyan-focus: #daeaea;
$color-dark-gray: #222222;
$color-light-silver: #cccccc;
$color-sky-cyan: #e1f1fa;
$color-green: #518424;
$color-light-green: #edf2e9;
$color-light-grayish-green: #dbe2d0;
$color-warm-green: #dbe2d2;
$color-very-pale-red: #ffefef;
$color-red-light: #ed1c24;
$color-red-clear: #ed1c2a;
$color-pink-dark: #9e005d;
$color-pink-night: #7e0857;
$color-blue-sky: #29abe2;
$color-military-gray: #4c4c4c;
$color-dark-gray-sky: #595959;
$color-gray-sky: #aaaaaa;
$color-very-clear-gray: #f2f2f2;
$color-clear-gray: #666666;
$color-sharp-gray: #c3c3c3;
$color-light-gray: #878787;
$color-very-light-gray: #e8e8e8;
$color-super-light-gray: #e1e1e1;
$color-mirror-gray: #888888;
$color-facebook: #0071bc;
$color-facebook-dark: #2d609b;
$color-orange: #dc4a38;
$color-twitter: #00c3f3;
$color-whatsapp: #39b54a;
$color-gray-glass: #7f7f7f;
$color-clear-silver: #e0e0e0;
$color-cyan: #7cd5e2;
$color-clear-cyan: #e3f2f2;
$color-night-silver: #b1b1b1;
$color-clear-white: #d5e2e2;
$color-space-white: #d8e7e7;
$color-ivory: #F6F6F5;
$color-lime-green: #6AB24D;
$color-vivid-orange: #DFA520;
$color-light-grayish-orange: #f7f1e1;
$color-grayish-pink: #f5f0f3;
$color-pink-tickets: #FC3784;
$transparent: transparent;
$gradient-transparent-black: linear-gradient(to bottom,rgba(51,51,51,0),#333333 100%);
$gradient-black-transparent: linear-gradient(to bottom,#333333,rgba(51,51,51,0) 100%);
$gradient-black-transparent-left: -webkit-linear-gradient(left, #333333, transparent);

$color1: #cbd8d8;
$color2: #d7e5e5;

//social-icons
$color-social-gray: #BABABC;
